aiocache==0.12.3
aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiohttp_socks==0.10.1
aiologger==0.7.0
aioredis==2.0.1
aiosignal==1.3.2
aiosqlite==0.20.0
alembic==1.15.1
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
APScheduler==3.10.1
# Editable Git install with no remote (apteka==0.1.0)
-e t:\code\python\ayga\!pharma\apteka
# Editable Git install with no remote (apteka_parser==0.1.0)
-e t:\code\python\ayga\!pharma\apteka
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
astroid==3.3.9
asttokens==3.0.0
async-timeout==5.0.1
asyncio==3.4.3
asyncpg==0.30.0
attrs==25.1.0
Authlib==1.5.1
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.13.3
black==25.1.0
blinker==1.9.0
Brotli==1.1.0
build==1.2.2.post1
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.1
chromadb==1.0.9
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
ConfigArgParse==1.7
context-portal-mcp @ git+https://github.com/GreatScottyMac/context-portal.git@d06b8280e6e7f8066e9eded6ca43216f80bc43a6
contourpy==1.3.1
coverage==7.6.12
Crawl4AI==0.6.3
cryptg==0.5.0.post0
cryptography==44.0.1
cssselect==1.3.0
cycler==0.12.1
dash==2.18.2
dash-bootstrap-components==1.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
-e git+https://github.com/ozand/APP-SW.git@866ee341c7cba28874e67e571a7729bc646cd649#egg=data_processor
debugpy==1.8.11
decorator==5.1.1
Deprecated==1.2.18
dill==0.3.9
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
dparse==0.6.4
# Editable install with no version control (drawio2markdown==0.1.0)
-e t:\onedrive\code\python\tools\drawio2markdown
duckdb==1.2.0
durationpy==0.10
ecdsa==0.19.0
email_validator==2.2.0
execnet==2.1.1
executing==2.1.0
fake-http-header==0.3.5
fake-useragent==2.0.3
fastapi==0.115.9
fastapi-cli==0.0.7
fastapi-limiter==0.1.6
filelock==3.16.1
flake8==7.1.2
Flask==3.0.3
flask-cors==5.0.1
Flask-Login==0.6.3
flatbuffers==25.2.10
fonttools==4.56.0
freezegun==1.5.1
-e git+https://github.com/ozand/YandexMapsReviewsParser.git@ea4cbb7529d50df25139255a898f0be2092085e2#egg=frontend&subdirectory=frontend
frozenlist==1.5.0
fsspec==2025.5.0
# Editable Git install with no remote (ga-parser==0.1.0)
-e t:\code\python\ayga\research\ga_parser
gevent==24.11.1
geventhttpclient==2.3.3
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.1
googleapis-common-protos==1.70.0
greenlet==3.1.1
grpcio==1.71.0
gzip-reader==0.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.31.4
humanfriendly==10.0
humanize==4.12.3
identify==2.6.10
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
inflate64==1.0.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.31.0
isort==6.0.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.9.0
joblib==1.4.2
json5==0.12.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kaleido==0.2.1
kiwisolver==1.4.8
kubernetes==32.0.1
limits==4.0.1
litellm==1.72.1
locust==2.33.2
lxml==5.3.1
Mako==1.3.9
Markdown==3.7
markdown-it-py==3.0.0
markdownify==1.1.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mcp==1.9.0
-e git+https://github.com/ozand/markdowndownloader.git@db82210db137b1df5fea5fa1123c332bfb19b341#egg=mddown
mdurl==0.1.2
memory-profiler==0.61.0
mmh3==5.1.0
mpmath==1.3.0
msgpack==1.1.0
msgpack-python==0.5.6
multidict==6.1.0
multivolumefile==0.2.3
mypy==1.15.0
mypy-extensions==1.0.0
narwhals==1.27.1
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
nodeenv==1.9.1
# Editable Git install with no remote (notebook-lm-automation==0.1.0)
-e t:\code\python\ayga\research\notebook_lm
# Editable Git install with no remote (notebooklm_api==0.1.0)
-e t:\code\python\ayga\research\notebooklm
numpy==2.2.3
oauthlib==3.2.2
onnxruntime==1.22.0
openai==1.84.0
opentelemetry-api==1.33.1
opentelemetry-exporter-otlp-proto-common==1.33.1
opentelemetry-exporter-otlp-proto-grpc==1.33.1
opentelemetry-instrumentation==0.54b1
opentelemetry-instrumentation-asgi==0.54b1
opentelemetry-instrumentation-fastapi==0.54b1
opentelemetry-proto==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
opentelemetry-util-http==0.54b1
orjson==3.10.15
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
passlib==1.7.4
pathspec==0.12.1
patsy==1.0.1
# Editable Git install with no remote (perplexity==0.1.0)
-e t:\code\python\ayga\research\perplexity
pillow==10.4.0
platformdirs==4.3.6
playwright==1.52.0
plotly==6.0.0
pluggy==1.5.0
posthog==4.0.1
pre_commit==4.2.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.21.1
prompt_toolkit==3.0.48
propcache==0.3.0
protobuf==5.29.3
psutil==6.1.1
psycopg2-binary==2.9.10
pure_eval==0.2.3
py-cpuinfo==9.0.0
py7zr==0.22.0
pyaes==1.6.1
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybars3==0.9.7
pybcj==1.0.6
pycodestyle==2.12.1
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.11.5
pydantic-extra-types==2.10.3
pydantic-settings==2.8.0
pydantic_core==2.33.2
pydeck==0.9.1
pyee==13.0.0
pyflakes==3.2.0
Pygments==2.18.0
pyinstrument==5.0.1
PyJWT==2.10.1
pylance==0.23.1
pylint==3.3.5
PyMeta3==0.5.1
pyOpenSSL==25.0.0
pyparsing==3.2.1
pyperclip==1.9.0
PyPika==0.48.9
pyppmd==1.1.1
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pyright==1.1.400
PySocks==1.7.1
pytest==8.3.5
pytest-asyncio==0.23.5
pytest-benchmark==5.1.0
pytest-cov==6.0.0
pytest-mock==3.14.0
pytest-recording==0.13.2
pytest-timeout==2.3.1
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-frontmatter==1.0.0
python-jose==3.4.0
python-json-logger==2.0.7
python-multipart==0.0.20
python-socks==2.7.1
python-telegram==0.19.0
python-telegram-bot==22.0
pytz==2025.1
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
pyzstd==0.17.0
rank-bm25==0.2.2
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
responses==0.25.6
respx==0.22.0
retrying==1.3.4
rich==13.9.4
rich-toolkit==0.14.1
rpds-py==0.23.1
rsa==4.9
ruamel.yaml==0.18.10
ruff==0.11.9
safetensors==0.5.3
safety==3.3.1
safety-schemas==0.0.11
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
selenium==4.29.0
semantic-version==2.10.0
sentence-transformers==4.1.0
setuptools==80.7.1
shellingham==1.5.4
six==1.17.0
slowapi==0.1.9
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.38
sse-starlette==2.3.5
stack-data==0.6.3
starlette==0.45.3
starlette-csrf==3.0.0
statsmodels==0.14.4
streamlit==1.42.2
structlog==25.1.0
sympy==1.14.0
-e git+https://github.com/ozand/telegram_agranom.git@cff9a7eaa013cfa4660ac6b9d434522b1e805168#egg=telegram_agranom
telegram_text==0.2.0
Telethon==1.39.0
tenacity==9.0.0
texttable==1.7.0
tf-playwright-stealth==1.1.2
TgCrypto==1.2.5
threadpoolctl==3.6.0
tiktoken==0.9.0
tldextract==5.3.0
tokenizers==0.21.1
toml==0.10.2
tomlkit==0.13.2
torch==2.7.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.52.1
trio==0.29.0
trio-websocket==0.12.2
typer==0.15.2
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
ujson==5.10.0
undetected-chromedriver==3.5.5
urllib3==2.3.0
uuid==1.30
uv==0.6.10
uvicorn==0.34.0
# Editable install with no version control (vacancy-analyzer==0.1.0)
-e z:\! selfdev
vcrpy==7.0.0
virtualenv==20.31.2
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==15.0
Werkzeug==3.0.6
wheel==0.45.1
wordcloud==1.9.4
wrapt==1.17.2
wsproto==1.2.0
xxhash==3.5.0
-e git+https://github.com/ozand/YandexMapsReviewsParser.git@ea4cbb7529d50df25139255a898f0be2092085e2#egg=yandex_maps_reviews_parser
yandexmapsreviewsparser==0.1.0
yarl==1.18.3
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
